.product-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    transition: background 0.3s;
}

.product-card:hover {
    background: rgba(255, 255, 255, 0.1);
}

.product-image-container {
    height: 192px !important;
    overflow: hidden;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    transition: transform 0.3s;
}

.product-card:hover .product-image-container img {
    transform: scale(1.05);
}

.product-card h2 {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.product-info {
    padding: 1rem;
}

.product-rating {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-footer span {
    font-size: 1.125rem;
    font-weight: 700;
    color: rgb(216, 180, 254);
}

.woocommerce a:visited {
  color: inherit !important; /* Usa el mismo color que el texto actual */
}


